body{
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-size:100% 100%; 
}

.texto{
    text-align: center;
    width: 50%;
    height: 30%;
    margin: auto;
    position: relative;
    top: 100px;
    border-style: solid;
    border: width 3px;
    border-color: black;
    background-color: white;
    border-radius: 10px;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 20px;
    color: black;
}

#titulo{
    font-style: oblique;
    font-size: 40px;
}

#pregunta{
    background-color: white;
    font-size: 30px;
}

#boton{
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: #1883ba;
    border-radius: 6px;
    border: 2px solid black;
}

#final{
    text-align: center;
    width: 30%;
    height: 10%;
    top: 400px;
    position: relative;
    margin: auto;
    border-style: solid;
    border: width 3px;
    border-color: black;
    background-color: white;
    border-radius: 10px;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 20px;
    color: black;
}


#text{
    display: none;
}